<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <!-- This section contains the log4net configuration settings -->
  <log4net>
    <!--定义输出到文件中-->
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="100"/>
      <maximumFileSize value="2MB"/>
      <staticLogFileName value="true"/>
      <!--定义文件存放位置-->
      <file value="D:\\Schmidt\\runLog\\TnT_WebLog\\TnT_Web.log"/>
      <appendToFile value="true"/>
      <MaxSizeRollBackups value="200"/>
      <MaximumFileSize value="1MB"/>
      <RollingStyle value="Size"/>
      <StaticLogFileName value="true"/>
      <!-- Example using environment variables in params -->
      <!-- <file value="${TMP}/log-file.txt" /> -->
      <!-- An alternate output encoding can be specified -->
      <!-- <encoding value="unicodeFFFE" /> -->
      <layout type="log4net.Layout.PatternLayout">
        <!--每条日志末尾的文字说明-->
        <!--footer value="???" /-->
        <!--输出格式[%property{NDC}] &lt;%property{auth}&gt;-->
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <!--定义输出到控制台命令行中-->
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <!--定义输出到windows事件中-->
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <!--定义输出到数据库中，这里举例输出到SQLSERVER数据库中，数据库SQLSERVER-->
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="100"/>
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <connectionString value="Server=.;Initial Catalog=BYH_DISTRIBUTOR_DB;User Id=sa;Password=123;"/>
      <commandText value="INSERT INTO tLog_Web_Run ([Date],[Thread],[Level],[Logger],[Message],[Exception]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)"/>
      <!--定义各个参数-->
      <parameter>
        <parameterName value="@log_date"/>
        <dbType value="DateTime"/>
        <layout type="log4net.Layout.RawTimeStampLayout"/>
      </parameter>
      <parameter>
        <parameterName value="@thread"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level"/>
        <dbType value="String"/>
        <size value="50"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message"/>
        <dbType value="String"/>
        <size value="4000"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception"/>
        <dbType value="String"/>
        <size value="2000"/>
        <layout type="log4net.Layout.ExceptionLayout"/>
      </parameter>
    </appender>
    <!--定义日志的输出媒介，下面定义日志以四种方式输出。也可以下面的按照一种类型或其他类型输出。-->
    <root>
      <appender-ref ref="LogFileAppender"/>
      <level value="DEBUG"/>
      <!--appender-ref ref="ConsoleAppender" /-->
      <!--appender-ref ref="EventLogAppender" /-->
      <!--appender-ref ref="AdoNetAppender" /-->
    </root>
  </log4net>
  <appSettings>
    <!--日志文件路径-->
    <add key="FilePath" value="D:\Project\taonaxing\log\" />
    <!--FromEmail-->
    <add key="FromEmail" value="1292215903@qq.com" />
    <!--ToEmail,多个用|隔开-->
    <add key="ToEmail" value="563314453@qq.com" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <add key="ConnectionString" value="Server=(local);Initial Catalog=TuanGou;User Id=sa;Password=123@abc#;"/>
  </appSettings>
</configuration>